// Vuetify variables
$body-font-family: 'Roboto', sans-serif;
$border-radius-root: 6px;
$font-size-root: 14px;

// Custom variables
$primary: #1976D2;
$secondary: #424242;
$accent: #82B1FF;
$error: #FF5252;
$info: #2196F3;
$success: #4CAF50;
$warning: #FFC107; 